

.bg {
    height: 200px;
    width: 100%;
    background: url("../../../public/thunderstorm-3625405_1280.jpg");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
}