.pad-lef-10 {
    padding-left: 10px;
}
.pad-lef-20 {
    padding-left: 20px;
}
.pad-lef-30 {
    padding-left: 30px;
}
.pad-lef-40 {
    padding-left: 40px;
}
/*---------------------------------------------------  */
.pad-right-10 {
    padding-right: 10px;
}
.pad-right-20 {
    padding-right: 20px;
}
.pad-right-30 {
    padding-right: 30px;
}
.pad-right-40 {
    padding-right: 40px;
}
/* -------------------------------------------------------- */
.pad-top-10 {
    padding-top: 10px;
}
.pad-top-20 {
    padding-top: 20px;
}
.pad-top-30 {
    padding-top: 30px;
}
.pad-top-40 {
    padding-top: 40px;
}
/* ---------------------------------------------------- */
.pad-bot-10 {
    padding-bottom: 10px;
}
.pad-bot-20 {
    padding-bottom: 20px;
}
.pad-bot-30 {
    padding-bottom: 30px;
}
.pad-bot-40 {
    padding-bottom: 40px;
}